<!-- Header Section Start -->
    <header id="video-area" data-stellar-background-ratio="0.5">
      <div class="fixed-top">
        <div class="container">
          <div class="logo-menu">
            <a href="" class="logo"><strong><span class="lukyans h2">Lukyans</span> Team USA</strong></a>
            <!-- <button class="menu-button" id="open-button"><i class="fa fa-bars" aria-hidden="true"></i></button> -->
          </div>
        </div>
      </div>
      <div class="slide l-fade" data-ride="carousel" data-interval="4000">
        <div class="back-img carousel-item active"></div>
        <div class="back-img2 carousel-item"></div>
        <div class="back-img3 carousel-item" data-interval="2400">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://res.cloudinary.com/dbo1mgpii/video/upload/v1586114951/karate_fight.mp4" type="video/mp4">
      </video>
      </div>
      </div>
      <div class="overlay-2"></div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow pos fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Help out reach the winning goal and take home the trophy</h1>
              <p class="lead pos wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">The USA Team has been selected and Im so excited to be competing in Japan 2020 World Cup.</p>
              <a href="#portfolios" class="btn pos btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Shop now</a>
            </div>

          </div>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section">
      <!-- Container Starts -->
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center wow fadeInUp" data-wow-delay=".6s">
              <a class="control mixitup-control-active btn btn-common" data-filter="all">
                All
              </a>
              <a class="control btn btn-common" data-filter=".marketing">
                T-Shirts
              </a>
              <a class="control btn btn-common" data-filter=".planning">
                Development
              </a>
              <a class="control btn btn-common" data-filter=".research">
                Print
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->

            <!-- Portfolio Recent Projects -->
            <div id="portfolio" class="row wow fadeInUp" data-wow-delay="0.8s">
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
                <div class="portfolio-item">
                  <div class="shot-item">
                  <a class="overlay lightbox" href="https://res.cloudinary.com/dbo1mgpii/image/upload/v1579817577/4.png">
                      <%= image_tag("portfolio/img1.jpg", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                  </a>

                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a class="overlay lightbox" href="img/portfolio/img2.jpg">

                      <%= image_tag("portfolio/img2.jpg", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix research">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a class="overlay lightbox" href="img/portfolio/img3.jpg">
                      <%= image_tag("portfolio/img3.jpg", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing research">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a class="overlay lightbox" href="img/portfolio/img4.jpg">
                      <%= image_tag("portfolio/img4.jpg", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a class="overlay lightbox" href="img/portfolio/img5.jpg">
                      <%= image_tag("portfolio/img5.jpg", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning research">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a class="overlay lightbox" href="img/portfolio/img6.jpg">
                      <%= image_tag("portfolio/img6.jpg", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->
